// Add any custom Sass & CSS here
#content {
    padding-top: 3em;
    #nav {
        margin: 0 0 2em 0;
        .button {
            width: 100%;
            padding: 1em;
            margin: 0;
            @include breakpoint(large) {
                width: 90%;
                margin: 0 0 2rem 0;
            }
        }
    }
}

.subtitle {
    padding-bottom: 2em;
    span {
        font-size: 2em;
        padding: 0.5em;
    }
}

.required {
    color: red;
}

.complete {
    background-color: gray;
}

ul {
    list-style-type: none;
    li {
        height: 4em;
        padding-top: 1em;
        border-top: 1px dotted grey;
    }
}

.namefield {
    font-size: 1.6em;
}

#taskNav {
    button {
        background-color: lightBlue;
        &:hover {
            background-color: #2199e8;
        }
        width: 7em;
    }
}

#taskDetail {
    li div div {
        margin: 2em 0 0 2em;
    }
    li span {
        font-weight: 600;
        padding: 0 0.4em;
    }
}

footer {
    padding: 4em;
}

