<div class="list" ng-controller='AddTaskController' id="addTask">     
  <div class="row subtitle">
    <div><span>Add Task</span> staying occupied </div>
  </div>
  <form data-abide novalidate name="taskFrom">
    <div class="row">
        <div class="small-8 columns">
          <label> Name <span class="required">*</span>
            <input ng-model="name" type="text" aria-describedby="exampleHelpText" required>
            <span class="form-error">
              Name is required!
            </span>
          </label>
          <label> Description <span class="required">*</span>
            <input ng-model="description" type="text" aria-describedby="exampleHelpText">
          </label>
          <label> Deadline <span class="required">*</span>
            <input ng-model="deadline" type="date">
            <span class="form-error">
              Deadline is required!
            </span>
          </label>
        </div>
    </div>

    <div class="row text-center">
      <div class="small-8 columns">
        <button type="submit" value="submit" ng-click="addUser(userFrom.$valid)" class="button small">Submit</button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="small-8 columns success callout" style="display:none;" id="addUserSuccess" data-closable>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <p>User {{addedName}} has been added!</p>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns alert callout" style="display:none;" id="addUserFailed" data-closable>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <p>This email already exists</p>
    </div>
  </div>

</div>