<div class="list" ng-controller='AddUserController' id="addUser">     
  <div class="row subtitle">
    <div><span>Add User</span> our next task-slayer </div>
  </div>
  <form data-abide novalidate name="userFrom">
    <div class="row" style="height: 12em;">
        <div class="small-8 columns">
          <label> Name <span class="required">*</span>
            <input ng-model="name" type="text" aria-describedby="exampleHelpText" required>
            <span class="form-error">
              Name is required!
            </span>
          </label>
          <label> Email <span class="required">*</span>
            <input ng-model="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required placeholder="email@email.com">
            <span class="form-error">
              An email address is required!
            </span>
          </label>
        </div>
    </div>

    <div class="row text-center">
      <div class="small-8 columns">
        <button type="submit" value="submit" ng-click="addUser(userFrom.$valid)" class="button small">Submit</button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="small-8 columns success callout" style="display:none;" id="addUserSuccess" data-closable>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <p>User {{addedName}} has been added!</p>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns alert callout" style="display:none;" id="addUserFailed" data-closable>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <p>{{message}}</p>
    </div>
  </div>

</div>